[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Arduino-CMake-NG"]
	path = Arduino-CMake-NG
	url = https://github.com/arduino-cmake/Arduino-CMake-NG.git
